<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Auto-Airplay</string>
	<key>CFBundleExecutable</key>
	<string>StartAirPlay</string>
	<key>CFBundleIdentifier</key>
	<string>com.eky.auto-airplay</string>
	<key>CFBundleName</key>
	<string>Auto-Airplay</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Auto-Airplay uses Apple Events to open Screen Mirroring and choose an AirPlay receiver.</string>
</dict>
</plist>
